body {
    padding-top: 60px;
}

form {
    margin: 0px;
}

#id_form_sortable .control-group {
	padding: 10px 0px;
}

#id_form_sortable .control-group:hover {
	cursor: pointer;
	background-color: #E9E9E9;
	padding: 10px 0px;
}