{% extends 'base.html' %}

{% load bootstrap_toolkit %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_choose_entity_modal").modal();
        });
    </script>
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal hide fade out" id="id_choose_entity_modal"
     role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            Formulário de Escolha de Entidade
        </h3>
    </div>

    <form method="post" class="form-horizontal">
        {% csrf_token %}

        <div class="modal-body">
            {{ choose_entity_form|as_bootstrap }}
        </div>

        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </form>
</div>
{% endblock %}
